.background7 {
    position: absolute;
    width: calc(100% + 500px);
    height: 595px;
    left: -250px;
    top: -100px;
    background: #00A578;
    opacity: .1;
    padding: 0px 50px;
}

.about {
    padding: 100px 50px 0px 50px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.aboutSection1 {
    padding: 20px 50px 0px 50px;
}

.aboutSection1 > h1 {
    font-weight: 900;
    font-size: 3.5em;
    line-height: 140%;
    letter-spacing: 1px;
    color: #282D6C;
}

.aboutSection1 > p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
    line-height: 160%;
    color: #282D6C;
}

.aboutSection2 {
    padding: 0px 50px;
    margin-top: 50px;
}

.aboutSection2 > h2 {
    font-weight: 900;
    font-size: 2em;
    line-height: 140%;
    letter-spacing: 1px;
    color: #282D6C;
}

.underlineBackground {
    background: url("/underline.png") no-repeat;
    background-position: left 455px top 27px;
    background-size: 180px;
    height: 59px;
  }

.aboutSection2 > div {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 0px 30px;
    margin-top: 0px;
}

.aboutSection2GridElement {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.aboutSection2ImageContainer {
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSection2GridElement > p {
    margin-left: 10px;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
    line-height: 160%;
    color: #282D6C;
}

.aboutSection3 {
    display:flex;
    align-items: center;
    padding: 0px 50px;
    margin-top: 150px;
    position: relative;
}

.aboutSectionImage {
    border-radius: 12px;
}

.aboutSection3Text {
    margin-left: 90px;
    max-width: 700px;
}

.aboutSection3Text > h2 {
    font-weight: 900;
    font-size: 2em;
    line-height: 140%;
    letter-spacing: 1px;
    color: #282D6C;
    margin: 0;
    padding: 0;
}

.aboutSection3Text > ul > li {
    font-family: 'Montserrat';
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 160%;
    color: #282D6C;
}

.aboutSection4 {
    padding: 20px 50px 0px 50px;
}

.aboutSection4 > h2 {
    font-weight: 900;
    font-size: 2em;
    line-height: 140%;
    letter-spacing: 1px;
    color: #282D6C;
    margin: 0;
    padding: 0;
}

.aboutSection4 {
    margin-top: 150px;
}

.aboutSection4 > p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
    line-height: 160%;
    color: #282D6C;
}