.about {
    padding: 50px 50px 0px 50px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.aboutSection1 {
    padding: 0px 50px 0px 50px;
}

.aboutSection1 > h1 {
    font-weight: 900;
    font-size: 4em;
    line-height: 140%;
    letter-spacing: 1px;
    color: #282D6C;
}

.aboutSection1 > p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
    line-height: 160%;
    color: #282D6C;
}

.aboutSection2 {
    padding: 40px 50px;
    margin-top: 50px;
    position: relative;
    background-color: #4A78AF44;
    border-radius: 12px;
}

.aboutSection2 > h2 {
    font-weight: 900;
    font-size: 2em;
    line-height: 140%;
    letter-spacing: 1px;
    color: #282D6C;
}

.aboutSection2 > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 20px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.aboutSection2GridElement {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.aboutSection2ImageContainer {
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSection2GridElement > p {
    margin-left: 10px;
    padding: 0px 5px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
    line-height: 160%;
    color: #282D6C;
}

.aboutSection3 {
    display:flex;
    align-items: center;
    padding: 40px 50px;
    margin-top: 50px;
    position: relative;
    background-color: #00A57833;
    border-radius: 12px;
}

.aboutSectionImage {
    border-radius: 12px;
}

.aboutSection3Text {
    margin-left: 90px;
    max-width: 700px;
}

.aboutSection3Text > h2 {
    font-weight: 900;
    font-size: 2em;
    line-height: 140%;
    letter-spacing: 1px;
    color: #282D6C;
    margin: 0;
    padding: 0;
}

.aboutSection3Text > ul > li {
    font-family: 'Montserrat';
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 160%;
    color: #282D6C;
}

.aboutSection4 {
    padding: 20px 50px 0px 50px;
}

.aboutSection4 > h2 {
    font-weight: 900;
    font-size: 2em;
    line-height: 140%;
    letter-spacing: 1px;
    color: #282D6C;
    margin: 0;
    padding: 0;
}

.aboutSection4 {
    margin-top: 50px;
    position: relative;
}

.aboutSection4 > p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
    line-height: 160%;
    color: #282D6C;
}

.background3 {
    position: absolute;
    width: 491.08px;
    height: 491.08px;
    right: -150px;
    top: 100px;
    background: rgba(95, 207, 169, 0.1);
    border-radius: 245.538px;
    z-index: -1;
}

@media (max-width: 1250px) {
    .aboutSection1 {
        padding: 0;
    }

    .aboutSection2 {
        padding: 20px 40px;
    }

    .aboutSection3 {
        padding: 20px 40px;
        flex-direction: column;
    }

    .aboutSection3Text {
        width: 100%;
        max-width: 1150px;
        margin: 40px auto 0px auto;
    }

    .aboutSection4 {
        padding: 0;
    }
}

@media (max-width: 800px) {
    .background1 {
        width: 150px;
        height: 150px;
        left: 0px;
        top: 150px;
        background: #5FCFA9;
        filter: blur(150px);
        opacity: .7;
        position: absolute;
        z-index: -0;
    }

    .background2 {
        width: 150px;
        height: 150px;
        right: 0px;
        top: 550px;
        background: #4A78AF;
        filter: blur(150px);
        opacity: 0.5;
        position: absolute;
        z-index: -0;
      }

    .background7 {
        width: calc(100% + 30px);
        left: -15px;
    }
    
    .about {
        padding: 0px 15px 0px 15px;
    }
    
    .aboutSection1 {
        padding-top: 20px;
    }

    .aboutSection1 > h1 {
        font-size: 2em;
    }

    .aboutSection1 > p {
        font-size: 1em;
    }

    .aboutSection2 {
        padding: 20px 20px;
        margin-top: 20px;
    }

    .aboutSection2 > div {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
        width: 100%;
        margin-top: 30px;
    }

    .aboutSection2 > h2 {
        font-size: 1.5em;
        max-width: 900px;
        margin-top: 0;
    }

    .aboutSection2Icon {
        width: 40px;
    }

    .aboutSection2IconBottom {
        width: 35px;
    }

    .aboutSection2GridElement {
        margin: 0px;
    }

    .aboutSection2GridElement > p {
        font-size: 1em;
        margin-left: 0px;
        margin-bottom: 0;
    }

    .aboutSection3 {
        padding: 10px 20px;
        flex-direction: column;
    }

    .aboutSectionImage {
        width: 100%;
        height: 100%;
    }

    .aboutSection3Text > h2 {
        font-size: 1.5em;
    }

    .aboutSection3Text > ul > li {
        font-size: 1em;
    }

    .aboutSection4 {
        padding: 0;
    }

    .aboutSection4 > h2 {
        font-size: 1.5em;
    }

    .aboutSection4 > p {
        font-size: 1em;
    }
}