@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  background: #FCFCFF;
  color: #333;
  font-family: "Lato";
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.content {
  margin: 0 auto;
}