@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


html, body {
  background: #FCFCFF;
  color: #333;
  font-family: "Lato";
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: clip;
}

.content {
  margin: 0 auto;
  letter-spacing: .2px;
}