@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.main {
  width: 100vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.main > div {
  box-sizing: border-box;
}

.homepageContainer {
  width: 100%;
  max-width: 490px;
  min-width: 300px;
  margin: auto;
  padding: 20px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationBell {
  
}

.greeting {
  font-size: 16px;
  margin-top: 31px;
  margin-bottom: 7px;
}

.subline {
  font-size: 15px;
  color: #999999;
  margin-top: 0px;
  margin-bottom: 28px;
  letter-spacing: .05rem;
}

.linkContainerGreen {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  height: 83px;
  width: 100%;
  border-radius: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,178,132,1) 0%, rgba(129,194,101,1) 100%);
  text-decoration: none;
}

.linkContainerPurple {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  height: 83px;
  width: 100%;
  border-radius: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(161,125,253,1) 0%, rgba(180,117,246,1) 100%);
  text-decoration: none;
}

.linkContainerCircle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #FFFFFF50;
  margin-left: 13px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.linkContainerTextLarge {
  margin-left: 12px;
  margin-bottom: 7px;
  color: #FFF;
  font-size: 16px;
  opacity: .75;
}

.linkContainerTextSmall {
  margin-left: 12px;
  color: #FFF;
  font-size: 12px;
  opacity: .75;
}

.linkContainerPlain {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 88px;
  width: 100%;
  text-decoration: none;
}

.linkContainerTextLargeBlack {
  margin-left: 12px;
  margin-bottom: 7px;
  color: #000;
  font-size: 16px;
  opacity: .75;
}

.linkContainerTextSmallGray {
  margin-left: 12px;
  color: #999;
  font-size: 12px;
  opacity: .75;
}

.rightArrow {
  margin-left: auto;
  margin-right: 20px;
}

.linkContainerImage {
  margin-top: 35px;
  margin-left: -20px;
  margin-right: -25px;
}