@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.main {
  width: 100vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.main > div {
  box-sizing: border-box;
}

.nudgeContainer {
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  margin: auto;
  padding: 20px 20px;
}

.pageHeaderGreen {
    height: 90px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,178,132,1) 0%, rgba(129,194,101,1) 100%);
    margin-left: -20px;
    margin-top: -20px;
    width: calc(100vw + 40px);
}

.leftArrow {
    margin-top: 35px;
    margin-left: 20px;
}

.pageHeaderImageDiv {
    display: flex;
    justify-content: center;
    margin-top: -55px;
}

.headingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.heading {
    color: #4BB384;
    font-weight: bold;
    margin-bottom: -20px;
}

.greeting {
    font-size: 16px;
    margin-top: 31px;
    margin-bottom: 7px;
}
  
.subline {
    font-size: 15px;
    color: #999999;
    margin-top: 0px;
    margin-bottom: 28px;
    letter-spacing: .05rem;
}

.rowsHeader {
    display: flex;
    padding: 5px;
    margin-top: -10px;
    width: 100%;
}

.rankHeader {
    width: 30px;
    text-align: center;
}

.userHeader {
    margin-left: 60px;
    text-align: left;
}

.streakHeader {
    margin-left: auto;
    width: 50px;
    text-align: left;
}

.rowsHeader > p {
    font-size: 12px;
    color: #999;
}

.nudgeButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    border: 1px solid #DDD;
    border-radius: 15px;
    margin-top: 15px;
}

.rank {
    font-size: 13px;
    font-weight: bold;
    width: 30px;
    text-align: center;
}

.user {
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
    text-align: left;
    padding: 10px 0px;
}

.nudge {
    margin-right: 10px;
    height: 46px;
    width: 81px;
    background-color: #0070d8;
    color: #FFF;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.nudged {
    margin-right: 10px;
    height: 46px;
    width: 81px;
    background-color: #4cb884;
    color: #FFF;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.nudge > p {
    line-height: 20px;
    font-size: 12px;
}

.nudged > p {
    line-height: 20px;
    font-size: 12px;
}

.dividingLine {
    width: 100%;
    border-bottom: 1px solid #DDD;
}

.medal {
    margin-bottom: -5px;
    margin-right: 5px;
}